{% from "../supervision-final-third-progress/macro.njk" import supervisionFinalThirdProgress %}
{% set standardAppointmentsComplete = params.currentYear.appointments.allowance is defined and params.currentYear.appointments.completed is defined and (params.currentYear.appointments.completed | int) >= (params.currentYear.appointments.allowance| int) %}
{% set hasSpecialStatus = params.context.offenderPersonalDisorderPathway or params.context.sentences | hasBreachedSentence or params.context.sentences | isInCustody or params.context.sentences | isAtLarge or params.context.integratedOffenderManagementRedRated %}
{% set sentenceTypeValue = params.context | sentenceType %}
{% set showPhaseColumn = params.context.offenderPersonalDisorderPathway or params.context.sentences | isAtLarge or params.context.sentences | isInCustody or params.context.liferCategory.code == 'LF01' or params.context.liferCategory.code == 'LF02' or params.context.liferCategory.code == 'LF03' or params.context.liferCategory.code == 'x9' or params.currentPhase.phase.code == 'INIT' or params.currentPhase.phase.code == 'STD' %}

{% if
  params.context.nationalSecurityDivision
  and params.context.finalThirdEligibility.eligible
  and params.context.sentences[0].type.isCustodial
  and params.context.sentences[0].custody.finalThirdDate
%}
{{ supervisionFinalThirdProgress({
    supervisionPackage: params
}) }}

{% elif params.currentPhase.phase.code != 'SPNA' and not params.context.nationalSecurityDivision %}
<div class='govuk-width-container supervision-package'>
    {% if standardAppointmentsComplete or hasSpecialStatus %}
    <div class='app-tier-header'>
        <h2 class='govuk-heading-m govuk-!-margin-bottom-0'>{{ 'Supervision package: ' ~ sentenceTypeValue if sentenceTypeValue else 'Supervision package' }}</h2>
        {% include './partials/_tags.njk' %}
    </div>
    {% else %}
            <h2 class='govuk-heading-m'>{{ 'Supervision package: ' ~ sentenceTypeValue if sentenceTypeValue else 'Supervision package' }}</h2>
    {% endif %}

    <div class='govuk-grid-row'>
        <div class='{{ "govuk-grid-column-one-half" if showPhaseColumn else "govuk-grid-column-two-thirds" }}'>
            {% if params.context.sentences | hasBreachedSentence %}
                <div class='govuk-warning-text'>
                    <span class='govuk-warning-text__icon' aria-hidden='true'>!</span>
                    <strong class='govuk-warning-text__text'>
                        <span class='govuk-visually-hidden'>Warning</span>
                        {{ params.context.name.forename }} is in breach. You should continue to offer appointments.
                    </strong>
                </div>
            {% elseif params.context.sentences | isInCustody %}
                <div class='govuk-warning-text'>
                    <span class='govuk-warning-text__icon' aria-hidden='true'>!</span>
                    <strong class='govuk-warning-text__text'>
                        <span class='govuk-visually-hidden'>Warning</span>
                        {{ params.context.name.forename }} has been recalled. Their appointments are paused.
                    </strong>
                </div>
            {% endif %}

            <div class='app-tier-header'>
                <h3 class='govuk-heading-s govuk-!-margin-bottom-0'>
                    Tier {{ '' if params.tierScore == 'MISSING' else params.tierScore }}
                </h3>
                {% if params.tag.text and params.tag.color %}
                    <strong class='govuk-tag govuk-tag--{{ params.tag.color }}'>{{ params.tag.text }}</strong>
                {% endif %}
            </div>

            {% if params.tag.text == 'Provisional' %}
                <p class='govuk-body'>
                    We will calculate the supervision package once the tier is confirmed.
                </p>
            {% endif %}

            {% if params.tag.text == 'Unavailable' %}
                <p class='govuk-body'>
                    Tier information is currently unavailable.
                </p>
            {% endif %}

            {% if params.createdAt and (params.createdAt == params.updatedAt or not params.updatedAt) %}
                <p class='govuk-body'>
                    The supervision package was created on {{ params.createdAt | dateWithYear }}.
                </p>
            {% elseif params.updatedAt and (not params.createdAt or params.createdAt != params.updatedAt) %}
                <p class='govuk-body'>
                    The supervision package was changed on {{ params.updatedAt | dateWithYear }} and the appointment allowance was recalculated.
                </p>
            {% endif %}

            {% if params.historyHref %}
                <p class='govuk-body'>
                    <a href='{{ params.historyHref }}' class='govuk-link govuk-link--no-visited-state'>
                        {{ params.historyText or 'View tier change history' }}
                    </a>
                </p>
            {% endif %}

            {% set nextAppointmentDateTime = (params.nextAppointment.date | appointmentDateTime(params.nextAppointment.startTime)) if params.nextAppointment else null %}
            {% if nextAppointmentDateTime and params.nextAppointment.type.description %}
                <h3 class='govuk-heading-s'>Next appointment</h3>
                <p class='govuk-body'>
                    {% if params.nextAppointmentHref %}
                        <a href='{{ params.nextAppointmentHref }}' class='govuk-link govuk-link--no-visited-state'>{{ params.nextAppointment.type.description | toTitleCase }}: {{ nextAppointmentDateTime }}</a>
                    {% else %}
                        {{ params.nextAppointment.type.description | toTitleCase }}: {{ nextAppointmentDateTime }}
                    {% endif %}
                </p>
            {% else %}
                <p class='govuk-body'>No appointments scheduled</p>
            {% endif %}
        </div>

        {% if showPhaseColumn %}
            <div class='govuk-grid-column-one-half'>
                {% if params.context.offenderPersonalDisorderPathway %}
                    <h3 class='govuk-heading-s'>Supervision appointments</h3>
                    {% include './partials/_opd.njk' %}
                {% elseif params.context.sentences | isAtLarge or params.context.sentences | isInCustody %}
                    <h3 class='govuk-heading-s'>{{ params.currentPhase.phase.description | toTitleCase }} stage</h3>
                    {% include './partials/_progress-bar.njk' %}
                {% elseif params.context.liferCategory.code == 'LF01' or params.context.liferCategory.code == 'LF02' or params.context.liferCategory.code == 'LF03' or params.context.liferCategory.code == 'x9'  %}
                    <h3 class='govuk-heading-s'>{{ params.currentPhase.phase.description | toTitleCase }} stage</h3>
                    {% include './partials/_no-end-date.njk' %}
                {% elseif params.currentPhase.phase.code  == 'INIT' %}
                    <h3 class='govuk-heading-s'>{{ params.currentPhase.phase.description | toTitleCase }} stage</h3>
                    {% include './partials/_early-engagement.njk' %}
                {% elseif params.currentPhase.phase.code  == 'STD' %}
                    <h3 class='govuk-heading-s'>{{ params.currentPhase.phase.description | toTitleCase }} stage</h3>
                    {% include './partials/_standard-supervision.njk' %}
                {% elseif params.currentPhase.phase.code  == 'FTHRD' %}
                    <h3 class='govuk-heading-s'>{{ params.currentPhase.phase.description | toTitleCase }} stage</h3>
                    {% include './partials/_final-third.njk' %}
                {% endif %}

                {% include './partials/_view-appointments.njk' %}
            </div>
        {% endif %}
    </div>

    {% include './partials/_action-buttons.njk' %}
</div>
{% endif %}
