{% if not (params.context.sentences | isInCustody or params.context.sentences | isAtLarge or params.currentPhase.phase.code  == 'FTHRD' ) and (params.arrangeAppointmentHref or (params.crn and params.deliusBaseURL)) %}
    <div class='govuk-button-group'>
        {% if params.arrangeAppointmentHref %}
            <a href='{{ params.arrangeAppointmentHref }}' role='button' draggable='false' class='govuk-button' data-module='govuk-button'>
                Arrange an appointment
            </a>
        {% endif %}
        {% if params.crn and params.deliusBaseURL %}
            <a href='{{ params.deliusBaseURL }}/NDelius-war/delius/JSP/deeplink.xhtml?component=RegisterSummary&CRN={{ params.crn }}' role='button' draggable='false' class='govuk-button govuk-button--secondary' data-module='govuk-button'>
                Update NDelius risk flag
            </a>
        {% endif %}
    </div>
{% endif %}
