{% if params.currentPhase.phase.code  == 'INIT' %}
    {% set completed = params.earlyEngagement.completed | int(0) %}
    {% set allowance = params.earlyEngagement.weeks | int(0) %}
{% else %}
    {% set completed = (params.currentYear.appointments.completed | int) - (params.earlyEngagement.completed | int(0)) %}
    {% set allowance = (params.currentYear.appointments.allowance | int) - (params.earlyEngagement.completed | int(0)) %}
{% endif %}

{% if allowance > 0 %}
    {% set rawPercent = (completed / allowance * 100) | round %}
{% else %}
    {% set rawPercent = 0 %}
{% endif %}

{% set widthPercent = 100 if rawPercent > 100 else (0 if rawPercent < 0 else rawPercent) %}

<p class='govuk-body'>{{ completed }} of {{ allowance }} appointments used</p>

<div class="appointment-progress" aria-hidden="true">
    <div class="{{ 'appointment-progress__bar-maximum' if params.currentPhase.phase.code  != 'INIT' and widthPercent == 100 else 'appointment-progress__bar' }}" style="--appointment-progress-width: {{ widthPercent }}%;"></div>
</div>

<div class='govuk-grid-row govuk-!-margin-top-4'>
    <div class='govuk-grid-column-one-third'>
        <p class='govuk-body govuk-!-margin-bottom-2'>{{ 'Required' if params.currentPhase.phase.code  == 'INIT' else 'Maximum' }}</p>
        <p class='govuk-body-l govuk-!-font-weight-bold'>{{ allowance }}</p>
    </div>

    <div class='govuk-grid-column-one-third'>
        <p class='govuk-body govuk-!-margin-bottom-2'>Remaining</p>
        <p class='govuk-body-l govuk-!-font-weight-bold'>{{ allowance - completed }}</p>
    </div>

    <div class='govuk-grid-column-one-third'>
        <p class='govuk-body govuk-!-margin-bottom-2'>Upcoming</p>
        <p class='govuk-body-l govuk-!-font-weight-bold'>{{ params.currentYear.appointments.scheduled | int }}</p>
    </div>
</div>
