{% if params.context.name.forename and (params.currentYear.appointments.completed  | int >= params.currentYear.appointments.allowance | int)%}
    <p class='govuk-body'>
        {{ params.context.name.forename }} has used all the supervision package appointments. If new risks emerge or there are exceptional circumstances, you can arrange contingency appointments.
    </p>
{% endif %}

{% if params.currentYear.isFirstYear %}
    <p class='govuk-body'>{{ params.context.name.forename }} has {{ (params.currentYear.appointments.allowance | int) - (params.currentYear.appointments.completed | int) }} supervision appointments remaining until the supervision stage ends on {{ params.currentYear.endDate }}.</p>
{% else %}
    <p class='govuk-body'>{{ params.context.name.forename }} has {{ (params.currentYear.appointments.allowance | int) - (params.currentYear.appointments.completed | int) }} supervision appointments remaining until the supervision package resets on {{ params.currentYear.endDate }}.</p>
{% endif %}

{% if params.context.finalThirdEligibility.eligible == true %}
    <p class='govuk-body'>{{ params.context.name.forename }} is eligible to start the final third stage on {{ params.context.sentences[0].custody.finalThirdDate | dateWithYear }}.</p>
{% elseif params.context.finalThirdEligibility.eligible == false and params.context | sentenceType == 'custodial sentence' %}
    <p class='govuk-body'>{{ params.context.name.forename }} is not eligible for the final third stage.</p>
{% endif %}

{% include './_progress-bar.njk' %}

{% if params.context.integratedOffenderManagementRedRated %}
    <p class='govuk-body'>{{ params.context.name.forename }} has an IOM red RAG status. The maximum number of appointments is the same as tier A.</p>
{% endif %}

{% if params.context | isEligibleForDiscretionaryAppointments(params.tierScore) %}
    <p class='govuk-body'>As a woman in tier {{ params.tierScore }}, {{ params.context.name.forename }} can have up to 5 additional discretionary appointments.</p>
{% endif %}
