

{% set personRiskFlags %}
{% for group in params.riskBadgeData.groups %}
{% for risk in group.badges %}
<a
        href="/case/{{ headerCRN }}/risk/flag/{{ risk.id }}"
        class="risk-badge-link"
        data-qa="risk-badge-{{ risk.id }}"
>
    {{ mojBadge({
                    text: risk.text,
                    classes: risk.badgeClass
                }) }}
</a>
{% endfor %}
{% endfor %}
{% endset%}

{% if params.riskBadgeData %}
<div class="person-header__risk-panel">
    <div
            class="person-header__risk-tags"
            data-qa="riskBadges"
    >
        {% for group in params.riskBadgeData.groups %}
        {% for risk in group.badges %}
        <a
                href="/case/{{ params.crn }}/risk/flag/{{ risk.id }}"
                class="risk-badge-link"
                data-qa="risk-badge-{{ risk.id }}"
        >
                        <span class="moj-badge {{ risk.badgeClass }}">
                            {{ risk.text }}
                        </span>
        </a>
        {% endfor %}
        {% endfor %}

        {% if params.riskBadgeData.remainingCount > 0 %}
        <a
                href="/case/{{ params.crn }}/risk"
                class="govuk-link risk-badge-more"
                data-qa="risk-badge-more"
        >
            +{{ params.riskBadgeData.remainingCount }} active risk flags
        </a>
        {% endif %}
    </div>
</div>
{% endif %}

<div class='person-header'>
    <div class='person-header__band'>
        {% if params.photo %}
            <img class='person-header__photo' data-qa='personPhoto' src='{{ params.photo }}' alt='{{ params.name }}'>
        {% endif %}

        <div class='person-header__details'>
            <h1 class='govuk-heading-xl govuk-!-margin-bottom-2 person-header__name' data-qa='personName'>{{ params.name }}</h1>

            <p class='govuk-caption-l govuk-!-margin-bottom-3 person-header__crn'>
                <span class='govuk-!-font-weight-bold'>CRN:</span> <span data-qa='crn'>{{ params.crn }}</span>
            </p>

            <ul class='govuk-list person-header__meta'>
                <li>
                    <span class='govuk-!-font-weight-bold'>Date of birth:</span> <span data-qa='dob'>{{ params.dob }}</span>
                </li>
                <li>
                    <span class='govuk-!-font-weight-bold'>Tier:</span> <a class='govuk-link govuk-link--inverse' href='{{ params.historyHref }}' data-qa='tier'>{{ params.tier }}</a>
                </li>
                <li>
                    <span class='govuk-!-font-weight-bold'>Managed by:</span>
                    {% if params.managedByHref %}
                        <a class='govuk-link govuk-link--inverse' href='{{ params.managedByHref }}' data-qa='managedBy'>{{ params.managedBy }}</a>
                    {% else %}
                        <span data-qa='managedBy'>{{ params.managedBy }}</span>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

    {% if params.riskBadges and (params.riskBadges | trim) %}
        <div class='person-header__risk-panel'>
            <div class="pop-header-risk-flags">
                {{ params.personRiskFlags | safe }}
            </div>
        </div>
    {% endif %}
</div>`